/*
 * Message
 */

[class*="msg-"] {
    margin-bottom: $spacer-s;
    border-radius: $rad;
    color: $clr-light ;
    border: 1px solid;
    a {
        text-decoration: underline;
    }
}

@mixin msg($color) {
    padding: $spacer-s;
    background: $color;
    color: darken($color, 60);
    border-color: darken($color, 10);
    a {
        color: darken($color, 70);
        &:hover {
            color: darken($color, 90);
        }
    }
}

.msg-alert {
    @include msg($clr-alert);
}

.msg-error {
    @include msg($clr-error);
}

.msg-notice {
    @include msg($clr-notice);
}

.msg-success {
    @include msg($clr-success);
}

.browsehappy {
    @include msg($clr-alert);
}