/*
 * Text
 */

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }

.txt-center { text-align: center; }
.txt-left   { text-align: left; }
.txt-right  { text-align: right; }